* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  text-align: center;
}

#cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;

  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#cards .card {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card h2 {
  margin-bottom: 10px;
}
